extends layout

block content
  // Wrapper
  #wrapper

    // USER LIST
    h2 Match List
    #userList
        table
            thead
                th Match Name
            tbody
              each match, i in matchlist
                tr
                  td
                    = match.name
